/* Contact.css */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Adjust the height as needed */
    background-color: var(--background-img);
    padding: 1rem 0rem 1rem 0rem;
     justify-content:space-evenly;
    margin: 5px 0rem 0rem 0rem;
  }
  
  .contact-form {
    width: 80%; /* Adjust the width as needed */
    max-width: 400px; 
    justify-content:space-evenly;/* Set a maximum width for better readability */
  }
  
  .contact-form input,
  
  .contact-form button {
    margin: 10px 0;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    
  }
  .contact-form textarea{
    margin: 10px 0;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    height: 100px;
  }
  .input {
    --input-focus: var(--primary-color);
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }
  button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  };
  
  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };

  @media  screen and (max-width: 650px) {
 
    .contact-form {
        width: 50%; /* Adjust the width as needed */
   
       /* Set a maximum width for better readability */
      }
  }